{
  # Global options
  # email you@example.com
}

{$DOMAIN} {
  encode zstd gzip

  @telegramWebhook path /telegram/webhook*
  reverse_proxy @telegramWebhook telegram-bot:3010

  handle_path /api/* {
    reverse_proxy backend:3000
  }

  reverse_proxy frontend:80
}

