{
  # Global options
  # email you@example.com
}

{$DOMAIN} {
  encode zstd gzip

  log {
    output stdout
    format console
  }

  @telegramWebhook path /telegram/webhook*
  reverse_proxy @telegramWebhook {$TELEGRAM_BOT_PROXY}

  handle_path /api/* {
    reverse_proxy backend:3000
  }

  reverse_proxy frontend:80
}

